#landing h1 {
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
  padding-top: 50px;
  line-height: 41px;
  font-weight: 600;
}

.landing-feature-list {
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.landing-header {
  line-height: 58px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.landing-sub {
  font-weight: 200;
}

.landing-buttons {
  margin-bottom: 70px;
}

.light-link {
  color: #F0AD4E;
}

.landing-ctas {
  text-align: center;
  margin-top: 20px;
}

.landing-ctas a {
  position: relative;
  display: inline-block;
  margin: 25px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

.landing-ctas a {
  padding: 7px 10px 5px;
  color: white;
  text-shadow: none;
  font-weight: 700;
}

.landing-ctas a::before,
.landing-ctas a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.landing-ctas a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.landing-ctas a:hover::before,
.landing-ctas a:hover::after,
.landing-ctas a:focus::before,
.landing-ctas a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  background: rgba(255,255,255,1);
}

.landing-ctas a:hover::after,
.landing-ctas a:focus::after {
  top: 0%;
  opacity: 1;
}
