---
layout: default
title: GitLab Continuous Integration
---

<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <p>
            GitLab CI (Continuous Integration) integrates with your GitLab installation to run tests for your projects.
            <br />
            Login with a GitLab account, add a project with one click and enjoy running your tests.
            <br />
            You can install and use on your servers or run it for free on <a href="https://ci.gitlab.com/">ci.gitlab.com</a>
          </p>
          <div class="button-holder">
            <a class="btn btn-success btn-lg" href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/README.md"> Source code</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="entry">
            <h3 id="advantages">Advantages</h3>
            <p>
            <ul>
              <li>GitLab CI is <b>easy to set up</b>, it is included with the Omnibus packages of GitLab CE and EE</li>
              <li>Adding a project to it and setting up the hooks in the repository is done only takes <b>one click</b></li>
              <li>It has a nice interface with a clear menu structure and <b>easy to understand navigation</b></li>
              <li>You can see the test results <b>inside the merge request</b> of GitLab</li>
              <li>From the merge request it is a single click to see the <b>realtime build log</b> output</li>
              <li>The tests run <b>distributed</b> on separate machines, so that the CI server is performant and stable</li>
              <li>One commit can have on multiple jobs, by running in <b>parallel</b> you get the test restult faster</li>
              <li>It is free to use, open source and a new features come out every month</li>
            </ul>
            <h3 id="requirements">Requirements</h3>
            <p>GitLab CI is officially supported on these Linux distributions:</p>
            <ul>
              <li>Ubuntu</li>
              <li>Debian/GNU</li>
              <li>CentOS</li>
              <li>Red Hat Enterprise Linux (please use the CentOS packages and instructions)</li>
              <li>Scientific Linux (please use the CentOS packages and instructions)</li>
              <li>Oracle Linux (please use the CentOS packages and instructions)</li>
            </ul>
            <h3 id="installation">Installation</h3>
            <ul>
              <li>Gitlab omnibus packages <a href="https://about.gitlab.com/2014/11/04/gitlab-omnibus-packages-now-include-gitlab-ci/">now include</a> Gitlab CI</li>
              <li>Gitlab CI omnibus <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/gitlab-ci/README.md">README</a></li>
              <li>The <a href="http://doc.gitlab.com/ci/install/installation.html">hard way</a> (not omnibus)</li>
            </ul>
            <h3 id="getting_help">Getting help</h3>
            <ul>
              <li><a href="http://doc.gitlab.com/ci/">Documentation</a></li>
              <li><a href="http://feedback.gitlab.com/forums/176466-general/category/64310-gitlab-ci">Feedback and suggestions forum</a> is the place to propose and discuss new features for GitLab CI.</li>
            </ul>
            <hr>
            <p><img alt="Screen" src="/images/gitlab_ci_preview.png" class="img-responsive"></p>
          </div><!-- entry -->
        </div><!-- span 12 -->
      </div><!-- row -->
    </div><!-- row-fluid -->
  </div><!-- container -->
</div><!-- content -->
