---
layout: default
title: Download GitLab Community Edition (CE)
extra_css:
  - downloads.css
extra_js:
  - downloads.js
platforms:
- name: ubuntu1204
  long_name: Ubuntu 12.04
  download_command: wget https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  install_commands: |
                    sudo dpkg -i gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  dependency_commands: |
                       sudo apt-get install openssh-server
                       sudo apt-get install postfix
- name: ubuntu1404
  long_name: Ubuntu 14.04
  download_command: wget https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  install_commands: |
                    sudo dpkg -i gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  dependency_commands: |
                    sudo apt-get install openssh-server
                    sudo apt-get install postfix

- name: debian7
  long_name: Debian 7
  download_command: wget https://downloads-packages.s3.amazonaws.com/debian-7.8/gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  install_commands: |
                    sudo dpkg -i gitlab_7.7.2-omnibus.5.4.2.ci-1_amd64.deb
  dependency_commands: |
                    sudo apt-get install openssh-server
                    sudo apt-get install postfix
- name: centos6
  long_name: CentOS 6 (and RedHat/Oracle/Scientific Linux 6)
  download_command: curl -O https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.7.2_omnibus.5.4.2.ci-1.el6.x86_64.rpm
  install_commands: |
                    sudo rpm -i gitlab-7.7.2_omnibus.5.4.2.ci-1.el6.x86_64.rpm
  dependency_commands: |
                    sudo yum install openssh-server
                    sudo yum install postfix
                    sudo yum install cronie
                    sudo service postfix start
                    sudo chkconfig postfix on

  firewall_open: sudo lokkit -s http -s ssh
- name: centos7
  long_name: CentOS 7 (and RedHat/Oracle/Scientific Linux 7)
  download_command: curl -O https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.7.2_omnibus.5.4.2.ci-1.el7.x86_64.rpm
  install_commands: |
                    sudo rpm -i gitlab-7.7.2_omnibus.5.4.2.ci-1.el7.x86_64.rpm
  dependency_commands: |
                    sudo yum install openssh-server
                    sudo systemctl enable sshd
                    sudo systemctl start sshd
                    sudo yum install postfix
                    sudo systemctl enable postfix
                    sudo systemctl start postfix
  firewall_open: |
                    sudo firewall-cmd --permanent --add-service=http
                    sudo systemctl reload firewalld
---
<div class="wrapper container">

  <div class="row graphic-menu">

    <div class="col-md-3 hidden-sm hidden-xs">
      <img src="/images/downloads/omnibus.gif" class="img-responsive pack-fox">
    </div>

    <div class="col-md-9">
      <div class="installation-instructions">

        <h1 class="heavy">Install a GitLab CE Omnibus package on</h1>

        <!-- dropdown button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" onClick="_gaq.push(['_trackEvent', 'Downloads', 'OS Select', 'Dropdown Open']);">
            Choose an OS <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          {% for platform in page.platforms %}
            <li><a href="#{{platform.name}}" onClick="_gaq.push(['_trackEvent', 'Downloads', 'OS Select', '#{{platform.name}}']);">{{platform.long_name}}</a></li>
          {% endfor %}
          </ul>
        </div>
        <!-- / dropdown button -->

        <div id="tabs">
          {% for platform in page.platforms %}
          <div class="tab" id="{{platform.name}}">

            <div class="tab-step">
              <p>
                <i class="glyphicons-circle_info green"></i> Check if your server meets <a class="green" href="http://doc.gitlab.com/ce/install/requirements.html">the hardware requirements</a>
              </p>
            </div>
            <div class="tab-step">
              <h4>1. Install and configure the necessary dependencies</h4>
              <p>
                If you install Postfix to send email please select 'Internet Site' during setup.
                Instead of using Postfix you can also use Sendmail or <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/smtp.md">configure a custom SMTP server</a>.
                Do not use Exim to send email from GitLab.
              </p>
              <p>
              On Centos 6 and 7, the commands below will also open HTTP and SSH access in the system firewall.
              </p>
              <p>
                <pre>{{platform.dependency_commands}}{{platform.firewall_open}}</pre>
              </p>
            </div>
            <div class="tab-step">
              <h4>2. Download the Omnibus package and install everything</h4>
              <p>
              <pre>{{platform.download_command}}
{{platform.install_commands}}</pre>
              </p>
            </div>

            <div class="tab-step">
              <h4>3. Configure and start GitLab</h4>
              <p>
                <pre>sudo gitlab-ctl reconfigure</pre>
              </p>
            </div>

            <div class="tab-step">
              <h4>4. Browse to the hostname and login</h4>
              <p>
                Username: root
                <br />
                Password: 5iveL!fe
              </p>
            </div>
            <div class="tab-step">
              <p>
                <i class="glyphicons-circle_info green"></i> For troubleshooting and configuration options please see the <a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Omnibus GitLab readme</a>
              </p>
            </div>
            <div class="tab-step">
              <p>Tweet about it!</p>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://about.gitlab.com" data-text="I just installed Gitlab: open source software to collaborate on code. Check it out!" data-via="gitlab" data-size="large">Tweet about it!</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="other-downloads">
        <h3>Omnibus Packages</h3>
        <h5><a href="archives/">All versions of the GitLab Community Edition</a></h5>
        <h5><a href="https://gitlab.com/subscribers/gitlab-ee/blob/master/doc/install/packages.md">GitLab Enterprise Edition Omnibus packages (subscribers only)</a></h5>
        <h5><a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/update.md">Upgrade instructions</a></h5>
        <h5><a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Troubleshooting and configuration options</a></h5>
        <h5><a href="/installation/">Alternative installation methods</a></h5>
      </div>
    </div>
  </div>
</div>
